
@media (min-width: 1281px) and (max-width: 1400px) {

    .header .header-banner .inner-banner {
        margin-top: 80px;
    }
    .header .header-banner .inner-banner p {
        font-size: 19px;
    }

    .event .owl-theme .owl-nav.disabled+.owl-dots {
        margin: -50px 0px 0px 50px;
    }

    .booking .booking-img-1 {
        margin: -340px 0px;
        left: 0px;
    }
    .booking .booking-img-2 {
        margin: -205px -140px;
    }
    .booking .booking-img-3 {
        right: -111px;
        margin: -200px 0px;
    }
    .booking span img {
        width: 65%;
    }


}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    .header .header-menu .bg-light {
        margin: 0px 0px 15px;
    }
    .header .navbar-light .navbar-brand {
        top: -25px;
    }
    .header .navbar-light .navbar-brand img {
        width: 95%;
    }
    .header .header-menu .header-contact {
        margin: -20px 0px 10px 0px;
    }
    .header .header-menu .header-contact img {
        width: 35px;
        height: 30px;
    }
    .header .header-menu .header-contact p {
        font-size: 14px;
        font-weight: 700;
        margin: 2px 0px 0px 5px;
    }
    .header .header-menu .navbar-toggler {
        margin-right: 10px;
    }
    .header .header-banner {
        margin-bottom: 35px;
    }
    .header .header-banner .inner-banner {
        margin-top: 15px;
    }
    .header .header-banner .inner-banner .bordered-text {
        width: 100%;
        height: 45px;
    }
    .header .header-banner .inner-banner p {
        font-size: 22px;
        margin: 10px 0px;
    }
    .header .header-banner .inner-banner h1 {
        font-size: 76px;
        text-shadow: 5px 5px #fee8bc;
        margin: 15px 0px 15px 0px;
    }
    .header .header-banner .inner-banner h3 {
        font-size: 50px;
        text-shadow: 4px 4px #fee8bc;
        margin: -10px 0px 0px 0px;
    }
    .header .header-banner .banner-img {
        margin-top: 15px;
        padding: 0px 0px 0px 20px;
    }

    .portfolio {
        margin: 30px 0px;
    }
    .portfolio .port-1 {
        margin: 10px 0px;
    }
    .portfolio .port-1 h5 {
        padding: 15px 0px 0px 24px;
        font-size: 26px;
    }
    .portfolio .port-1 h2 {
        padding: 38px 0px 0px 24px;
        font-size: 36px;
    }
    .portfolio .port-2 {
        margin: 10px 0px;
    }
    .portfolio .port-2 h5 {
        padding: 15px 0px 0px 24px;
        font-size: 26px;
    }
    .portfolio .port-2 h2 {
        padding: 46px 0px 0px 24px;
        font-size: 36px;
        line-height: 30px;
    }
    .portfolio .port-3 {
        margin: 15px 0px;
    }
    .portfolio .port-3 h5 {
        padding: 75px 0px 0px 24px;
        font-size: 26px;
    }
    .portfolio .port-3 h2 {
        padding: 100px 0px 0px 24px;
        font-size: 36px;
    }

    .products .title {
        margin: 30px 0px;
    }
    .products .title span {
        font-size: 26px;
    }
    .products .title h2 {
        margin-top: 30px;
        font-size: 38px;
    }
    .products .title p {
        margin-top: 15px;
        padding: 0px 20px;
    }
    .products .products-item {
        margin: 15px 0px;
    }
    .products .products-item img {
        width: 95%;
    }
    .products .products-item h2 {
        font-size: 34px;
    }
    .products .products-item p {
        font-size: 14px;
    }
    .products .products-item .btn {
        font-size: 16px;
        margin-top: 5px;
    }

    .event .owl-carousel {
        margin: 45px 0px 30px;
    }
    .event .owl-carousel .inner-event {
        padding: 10px 0px 10px 30px;
    }
    .event .owl-carousel .inner-event h5 {
        font-size: 24px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event h2 {
        font-size: 36px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event p {
        font-size: 15px;
        line-height: 24px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .event-img {
        padding: 20px;
    }
    .event .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        margin: -46px 0px 0px 26px;
    }
    .event .owl-theme .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
        margin: 0px 5px;
    }

    .booking {
        margin: 0px 0px 0px;
    }
    .booking .title {
        margin: 20px 0px;
    }
    .booking .title h5 {
        font-size: 26px;
    } 
    .booking .title h2 {
        font-size: 36px;
    }
    .booking .main-form .form-group {
        margin-bottom: 18px !important;
    }
    .booking .main-form .form-group .form-control {
        height: 48px;
        font-size: 22px;
        padding: 0px 15px;
    }
    .booking .main-form .form-group .btn {
        height: 48px;
        font-size: 24px;
    }
    .booking .booking-img-1 {
        margin: -340px 0px;
        left: 0;
    }
    .booking .booking-img-2 {
        margin: -205px -140px;
    }
    .booking .booking-img-3 {
        right: -126px;
        margin: -200px 0px;
    }
    .booking span img {
        width: 60%;
    }

    .footer {
        margin: 85px 0px 40px;
    }
    .footer .inner-footer {
        margin: 15px 0px 0px;
    }
    .footer .inner-footer img {
        width: 100%;
    }
    .footer .inner-footer p {
        font-size: 15px;
        padding-top: 20px;
    }
    .footer .inner-footer h6 {
        margin-top: 95px;
    }
    .footer .contact-footer .contact-info {
        margin: 160px 0px 0px 35px;
        font-size: 22px;
    }
    .footer .contact-footer .social-icons {
    text-align: end;
    margin: 60px 0px 0px;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 992px) and (max-width: 1024px) and (orientation: landscape) {
    
    .header .header-menu .bg-light {
        margin: 0px 0px 15px;
    }
    .header .navbar-light .navbar-brand {
        top: -25px;
    }
    .header .navbar-light .navbar-brand img {
        width: 95%;
    }
    .header .header-menu .header-contact {
        margin: -20px 0px 10px 0px;
    }
    .header .header-menu .header-contact img {
        width: 35px;
        height: 30px;
    }
    .header .header-menu .header-contact p {
        font-size: 14px;
        font-weight: 700;
        margin: 2px 0px 0px 5px;
    }
    .header .header-menu .navbar-toggler {
        margin-right: 10px;
    }
    .header .header-banner {
        margin-bottom: 35px;
    }
    .header .header-banner .inner-banner {
        margin-top: 15px;
    }
    .header .header-banner .inner-banner .bordered-text {
        width: 100%;
        height: 45px;
    }
    .header .header-banner .inner-banner p {
        font-size: 22px;
        margin: 10px 0px;
    }
    .header .header-banner .inner-banner h1 {
        font-size: 76px;
        text-shadow: 5px 5px #fee8bc;
        margin: 15px 0px 15px 0px;
    }
    .header .header-banner .inner-banner h3 {
        font-size: 50px;
        text-shadow: 4px 4px #fee8bc;
        margin: -10px 0px 0px 0px;
    }
    .header .header-banner .banner-img {
        margin-top: 15px;
        padding: 0px 0px 0px 20px;
    }

    .portfolio {
        margin: 30px 0px;
    }
    .portfolio .port-1 {
        margin: 10px 0px;
    }
    .portfolio .port-1 h5 {
        padding: 15px 0px 0px 24px;
        font-size: 26px;
    }
    .portfolio .port-1 h2 {
        padding: 38px 0px 0px 24px;
        font-size: 36px;
    }
    .portfolio .port-2 {
        margin: 10px 0px;
    }
    .portfolio .port-2 h5 {
        padding: 15px 0px 0px 24px;
        font-size: 26px;
    }
    .portfolio .port-2 h2 {
        padding: 46px 0px 0px 24px;
        font-size: 36px;
        line-height: 30px;
    }
    .portfolio .port-3 {
        margin: 15px 0px;
    }
    .portfolio .port-3 h5 {
        padding: 75px 0px 0px 24px;
        font-size: 26px;
    }
    .portfolio .port-3 h2 {
        padding: 100px 0px 0px 24px;
        font-size: 36px;
    }

    .products .title {
        margin: 30px 0px;
    }
    .products .title span {
        font-size: 26px;
    }
    .products .title h2 {
        margin-top: 30px;
        font-size: 38px;
    }
    .products .title p {
        margin-top: 15px;
        padding: 0px 20px;
    }
    .products .products-item {
        margin: 15px 0px;
    }
    .products .products-item img {
        width: 95%;
    }
    .products .products-item h2 {
        font-size: 34px;
    }
    .products .products-item p {
        font-size: 14px;
    }
    .products .products-item .btn {
        font-size: 16px;
        margin-top: 5px;
    }

    .event .owl-carousel {
        margin: 45px 0px 30px;
    }
    .event .owl-carousel .inner-event {
        padding: 10px 0px 10px 30px;
    }
    .event .owl-carousel .inner-event h5 {
        font-size: 24px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event h2 {
        font-size: 36px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event p {
        font-size: 15px;
        line-height: 24px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .event-img {
        padding: 20px;
    }
    .event .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        margin: -46px 0px 0px 26px;
    }
    .event .owl-theme .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
        margin: 0px 5px;
    }

    .booking {
        margin: 0px 0px 0px;
    }
    .booking .title {
        margin: 20px 0px;
    }
    .booking .title h5 {
        font-size: 26px;
    } 
    .booking .title h2 {
        font-size: 36px;
    }
    .booking .main-form .form-group {
        margin-bottom: 18px !important;
    }
    .booking .main-form .form-group .form-control {
        height: 48px;
        font-size: 22px;
        padding: 0px 15px;
    }
    .booking .main-form .form-group .btn {
        height: 48px;
        font-size: 24px;
    }
    .booking .booking-img-1 {
        margin: -340px 0px;
        left: 0;
    }
    .booking .booking-img-2 {
        margin: -205px -140px;
    }
    .booking .booking-img-3 {
        right: -126px;
        margin: -200px 0px;
    }
    .booking span img {
        width: 60%;
    }

    .footer {
        margin: 85px 0px 40px;
    }
    .footer .inner-footer {
        margin: 15px 0px 0px;
    }
    .footer .inner-footer img {
        width: 100%;
    }
    .footer .inner-footer p {
        font-size: 15px;
        padding-top: 20px;
    }
    .footer .inner-footer h6 {
        margin-top: 95px;
    }
    .footer .contact-footer .contact-info {
        margin: 160px 0px 0px 35px;
        font-size: 22px;
    }
    .footer .contact-footer .social-icons {
    text-align: end;
    margin: 60px 0px 0px;
    }
    
  }

  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 991px) {
    
    .header .header-menu .bg-light {
        margin: 0px 0px 15px;
    }
    .header .navbar-light .navbar-brand {
        top: -25px;
    }
    .header .navbar-light .navbar-brand img {
        width: 90%;
    }
    .header .header-menu .header-contact {
        margin: -20px 0px 10px 0px;
    }
    .header .header-menu .header-contact img {
        width: 35px;
        height: 30px;
    }
    .header .header-menu .header-contact p {
        font-size: 10px;
        font-weight: 700;
        margin: 2px 0px 0px 5px;
    }
    .header .header-menu .navbar-toggler {
        margin-right: 10px;
    }
    .header .header-banner {
        margin-bottom: 35px;
    }
    .header .header-banner .inner-banner {
        margin-top: 15px;
    }
    .header .header-banner .inner-banner .bordered-text {
        width: 100%;
        height: 45px;
    }
    .header .header-banner .inner-banner p {
        font-size: 20px;
        margin: 10px 0px;
    }
    .header .header-banner .inner-banner h1 {
        font-size: 72px;
        text-shadow: 5px 5px #fee8bc;
        margin: 15px 0px 15px 0px;
    }
    .header .header-banner .inner-banner h3 {
        font-size: 46px;
        text-shadow: 4px 4px #fee8bc;
        margin: -10px 0px 0px 0px;
    }
    .header .header-banner .banner-img {
        margin-top: 10px;
        padding: 0px 0px 0px 20px;
    }

    .portfolio {
        margin: 30px 0px;
    }
    .portfolio .port-1 {
        margin: 5px 0px;
    }
    .portfolio .port-1 h5 {
        padding: 15px 0px 0px 24px;
        font-size: 24px;
    }
    .portfolio .port-1 h2 {
        padding: 38px 0px 0px 24px;
        font-size: 34px;
    }
    .portfolio .port-2 {
        margin: 5px 0px;
    }
    .portfolio .port-2 h5 {
        padding: 15px 0px 0px 24px;
        font-size: 24px;
    }
    .portfolio .port-2 h2 {
        padding: 45px 0px 0px 24px;
        font-size: 34px;
        line-height: 30px;
    }
    .portfolio .port-3 {
        margin: 15px 0px;
    }
    .portfolio .port-3 h5 {
        padding: 40px 0px 0px 24px;
        font-size: 24px;
    }
    .portfolio .port-3 h2 {
        padding: 65px 0px 0px 24px;
        font-size: 34px;
    }

    .products .title span {
        font-size: 24px;
    }
    .products .title h2 {
        margin-top: 30px;
        font-size: 34px;
    }
    .products .title p {
        margin-top: 15px;
        padding: 0px 20px;
    }
    .products .products-item {
        margin: 15px 0px;
    }
    .products .products-item img {
        width: 95%;
    }
    .products .products-item h2 {
        font-size: 32px;
    }
    .products .products-item p {
        font-size: 14px;
    }
    .products .products-item .btn {
        font-size: 15px;
        margin-top: 5px;
    }

    .event .owl-carousel {
        margin: 45px 0px 30px;
    }
    .event .owl-carousel .inner-event {
        padding: 10px 0px 10px 30px;
    }
    .event .owl-carousel .inner-event h5 {
        font-size: 22px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event h2 {
        font-size: 34px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event p {
        font-size: 14px;
        line-height: 24px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .event-img {
        padding: 40px 5px 0px 0px;
    }
    .event .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        margin: -75px 0px 0px 373px;
    }
    .event .owl-theme .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
        margin: 0px 5px;
    }

    .booking {
        margin: 0px 0px 0px;
    }
    .booking .title {
        margin: 20px 0px;
    }
    .booking .title h5 {
        font-size: 26px;
    } 
    .booking .title h2 {
        font-size: 36px;
    }
    .booking .main-form .form-group {
        margin-bottom: 18px !important;
    }
    .booking .main-form .form-group .form-control {
        height: 48px;
        font-size: 22px;
        padding: 0px 15px;
    }
    .booking .main-form .form-group .btn {
        height: 48px;
        font-size: 24px;
    }
    .booking .booking-img-1 {
        margin: -340px 0px;
        left: 0;
    }
    .booking .booking-img-2 {
        margin: -205px -140px;
    }
    .booking .booking-img-3 {
        right: -126px;
        margin: -200px 0px;
    }
    .booking span img {
        width: 60%;
    }

    .footer {
        margin: 85px 0px 40px;
    }
    .footer .inner-footer {
        margin: 15px 0px 0px;
    }
    .footer .inner-footer img {
        width: 100%;
    }
    .footer .inner-footer p {
        padding-top: 20px;
    }
    .footer .inner-footer h6 {
        margin-top: 60px;
    }
    .footer .contact-footer .contact-info {
        margin: 170px 0px 0px 35px;
        font-size: 19px;
    }
    .footer .contact-footer .social-icons {
    text-align: end;
    margin: 60px 0px 0px;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {

    .header .header-menu .bg-light {
        margin: 0px 0px 10px;
    }
    .header .navbar-light .navbar-brand {
        top: 0;
    }
    .header .navbar-light .navbar-brand img {
        width: 80%;
    }
    .header .header-menu .header-contact {
        margin: -25px 0px 10px 0px;
    }
    .header .header-menu .header-contact img {
        width: 30px;
        height: 25px;
    }
    .header .header-menu .header-contact p {
        font-size: 10px;
        font-weight: 700;
        margin: 2px 0px 0px 5px;
    }
    .header .header-menu .navbar-toggler {
        margin-right: 10px;
    }
    .header .header-banner {
        margin-bottom: 35px;
    }
    .header .header-banner .inner-banner {
        margin-top: 15px;
    }
    .header .header-banner .inner-banner .bordered-text {
        width: 80%;
        height: 42px; 
    }
    .header .header-banner .inner-banner p {
        font-size: 20px;
        margin: 9px 0px;
    }
    .header .header-banner .inner-banner h1 {
        font-size: 70px;
        text-shadow: 5px 5px #fee8bc;
        margin: 10px 0px 10px 0px;
    }
    .header .header-banner .inner-banner h3 {
        font-size: 44px;
        text-shadow: 3px 3px #fee8bc;
        margin: -5px 0px 10px 0px;
    }
    .header .header-banner .banner-img {
        margin-top: 5px;
        padding: 0px 0px 0px 40px;
    }

    .portfolio {
        margin: 30px 0px;
    }
    .portfolio .port-1 {
        margin: 10px 0px;
    }
    .portfolio .port-1 h5 {
        padding: 18px 0px 0px 24px;
        font-size: 22px;
    }
    .portfolio .port-1 h2 {
        padding: 40px 0px 0px 24px;
        font-size: 32px;
    }
    .portfolio .port-2 {
        margin: 10px 0px;
    }
    .portfolio .port-2 h5 {
        padding: 18px 0px 0px 24px;
        font-size: 22px;
    }
    .portfolio .port-2 h2 {
        padding: 45px 0px 0px 24px;
        font-size: 32px;
        line-height: 30px;
    }
    .portfolio .port-3 {
        margin: 10px 0px;
    }
    .portfolio .port-3 h5 {
        padding: 18px 0px 0px 24px;
        font-size: 22px;
    }
    .portfolio .port-3 h2 {
        padding: 40px 0px 0px 24px;
        font-size: 32px;
    }

    .products .title span {
        font-size: 22px;
    }
    .products .title h2 {
        margin-top: 28px;
        font-size: 32px;
    }
    .products .title p {
        margin-top: 15px;
        padding: 0px 15px;
    }
    .products .products-item {
        margin: 20px 0px;
    }
    .products .products-item img {
        width: 85%;
    }
    .products .products-item h2 {
        font-size: 30px;
    }
    .products .products-item p {
        font-size: 14px;
    }
    .products .products-item .btn {
        font-size: 14px;
        margin-top: 5px;
    }
    
    .event .owl-carousel {
        margin: 35px 0px 30px;
    }
    .event .owl-carousel .inner-event h5 {
        font-size: 22px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event h2 {
        font-size: 34px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event p {
        font-size: 14px;
        line-height: 24px;
        margin: 10px 0px 0px 0px;
    }
    .event .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        margin: -60px 0px 0px 50px;
    }
    .event .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 0px 4px;
    }

    .booking {
        margin: 0px 0px 0px;
    }
    .booking .title {
        margin: 18px 0px;
    }
    .booking .title h5 {
        font-size: 24px;
    } 
    .booking .title h2 {
        font-size: 34px;
    }
    .booking .main-form .form-group {
        margin-bottom: 16px !important;
    }
    .booking .main-form .form-group .form-control {
        height: 45px;
        font-size: 20px;
        padding: 0px 15px;
    }
    .booking .main-form .form-group .btn {
        height: 55px;
        font-size: 22px;
    }
    .booking .booking-img-1 {
        display: none;
    }
    .booking .booking-img-2 {
        display: none;
    }
    .booking .booking-img-3 {
        display: none;
    }

    .footer {
        margin: 15px 0px 0px;
    }
    .footer .inner-footer {
        margin: 20px 0px 0px;
    }
    .footer .inner-footer img {
        width: 100%;
    }
    .footer .inner-footer p {
        font-size: 14px;
        line-height: 24px;
        padding-top: 15px;
    }
    .footer .inner-footer h6 {
        position: absolute;
        font-size: 14px;
        margin: 160px 0px 0px 0px;
    }
    .footer .contact-footer {
        margin-bottom: 45px;
    }
    .footer .contact-footer .contact-info {
        margin: 15px 0px 0px 0px;
        font-size: 18px;
    }
    .footer .contact-footer .contact-info .info-item {
        padding-bottom: 15px;
    }
    .footer .contact-footer .contact-info img {
        width: 45px;
        padding-right: 18px;
    }
    .footer .contact-footer .social-icons {
        text-align: center;
        margin: 15px 0px;
    }
    .footer .contact-footer .social-icons ul {
        display: block;
        margin: 0px 0px 0px;
        padding: 0px;
    }

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
      
    .header .header-menu .bg-light {
        margin: 0px 0px 10px;
    }
    .header .navbar-light .navbar-brand {
        top: 0;
    }
    .header .navbar-light .navbar-brand img {
        width: 70%;
    }
    .header .header-menu .header-contact {
        margin: -30px 0px 10px 0px;
    }
    .header .header-menu .header-contact img {
        width: 25px;
        height: 20px;
    }
    .header .header-menu .header-contact p {
        font-size: 9px;
        font-weight: 600;
        margin: 0px 0px 0px 5px;
    }
    .header .header-menu .navbar-toggler {
        margin-right: 10px;
    }
    .header .header-banner {
        margin-bottom: 20px;
    }
    .header .header-banner .inner-banner {
        margin-top: 10px;
    }
    .header .header-banner .inner-banner .bordered-text {
        width: 80%;
        height: 40px;
    }
    .header .header-banner .inner-banner p {
        font-size: 14px;
        margin: 8px 0px;
    }
    .header .header-banner .inner-banner h1 {
        font-size: 66px;
        text-shadow: 5px 5px #fee8bc;
        margin: 5px 0px 5px 0px;
    }
    .header .header-banner .inner-banner h3 {
        font-size: 40px;
        text-shadow: 3px 3px #fee8bc;
        margin: -5px 0px 5px 0px;
    }
    .header .header-banner .banner-img {
        margin-top: 0px;
        padding: 0px 0px 0px 50px;
    }

    .portfolio {
        margin: 26px 0px;
    }
    .portfolio .port-1 {
        margin: 8px 0px;
    }
    .portfolio .port-1 h5 {
        padding: 10px 0px 0px 24px;
        font-size: 18px;
    }
    .portfolio .port-1 h2 {
        padding: 30px 0px 0px 24px;
        font-size: 28px;
    }
    .portfolio .port-2 {
        margin: 8px 0px;
    }
    .portfolio .port-2 h5 {
        padding: 10px 0px 0px 24px;
        font-size: 18px;
    }
    .portfolio .port-2 h2 {
        padding: 34px 0px 0px 24px;
        font-size: 28px;
        line-height: 25px;
    }
    .portfolio .port-3 {
        margin: 8px 0px;
    }
    .portfolio .port-3 h5 {
        padding: 10px 0px 0px 24px;
        font-size: 18px;
    }
    .portfolio .port-3 h2 {
        padding: 30px 0px 0px 24px;
        font-size: 28px;
    }

    .products .title span {
        font-size: 20px;
    }
    .products .title h2 {
        margin-top: 22px;
        font-size: 30px;
    }
    .products .title p {
        margin-top: 10px;
        padding: 0px 10px;
    }
    .products .products-item {
        margin: 10px 0px;
    }
    .products .products-item img {
        width: 85%;
    }
    .products .products-item h2 {
        font-size: 28px;
    }
    .products .products-item p {
        font-size: 12px;
    }
    .products .products-item .btn {
        font-size: 12px;
        margin-top: 5px;
    }

    .event .owl-carousel {
        margin: 30px 0px 20px;
    }
    .event .owl-carousel .inner-event h5 {
        font-size: 18px;
        margin: 0px;
    }
    .event .owl-carousel .inner-event h2 {
        font-size: 28px;
        margin: 5px 0px 0px 0px;
    }
    .event .owl-carousel .inner-event p {
        font-size: 12px;
        line-height: 22px;
        margin: 5px 0px 0px 0px;
    }
    .event .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        margin: -60px 0px 0px 50px;
    }
    .event .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 0px 3px;
    }

    .booking {
        margin: 0px 0px 0px;
    }
    .booking .title {
        margin: 15px 0px;
    }
    .booking .title h5 {
        font-size: 20px;
    } 
    .booking .title h2 {
        font-size: 30px;
    }
    .booking .main-form .form-group {
        margin-bottom: 14px !important;
    }
    .booking .main-form .form-group .form-control {
        height: 40px;
        font-size: 18px;
        padding: 0px 12px;
    }
    .booking .main-form .form-group .btn {
        height: 50px;
        font-size: 18px;
    }
    .booking .booking-img-1 {
        display: none;
    }
    .booking .booking-img-2 {
        display: none;
    }
    .booking .booking-img-3 {
        display: none;
    }

    .footer {
        margin: 10px 0px 0px;
    }
    .footer .inner-footer {
        margin: 15px 0px 0px;
    }
    .footer .inner-footer img {
        width: 100%;
    }
    .footer .inner-footer p {
        font-size: 12px;
        line-height: 22px;
        padding-top: 10px;
    }
    .footer .inner-footer h6 {
        position: absolute;
        font-size: 12px;
        margin: 140px 0px 0px 0px;
    }
    .footer .contact-footer {
        margin-bottom: 40px;
    }
    .footer .contact-footer .contact-info {
        margin: 10px 0px 0px 0px;
        font-size: 16px;
    }
    .footer .contact-footer .contact-info .info-item {
        padding-bottom: 12px;
    }
    .footer .contact-footer .contact-info img {
        width: 40px;
        padding-right: 15px;
    }
    .footer .contact-footer .social-icons {
        text-align: center;
        margin: 10px 0px;
    }
    .footer .contact-footer .social-icons ul {
        display: block;
        margin: 0px 0px 0px;
        padding: 0px;
    }

  }